<div class="wrapper">
    <div class="container-fluid">

        <!-- Icon -->
        <div class="row">
            <div class="col center">
                <img class="sushiImg" src="/assets/img/sushi.png" alt="Sushi Smiling">
            </div>
        </div>

            <!-- Title -->
        <div class="row ">
            <div class="col-12">
                <h1 class="title">Eat Da Sushi!</h1>
            </div>
        </div>

        <!-- Eaten and Uneaten -->
        <div class="row eatenUneatenRow">

            <div class="col-6 eaten">


                {{#each sushi}}
                    {{#unless this.hasBeenEaten }}
                        <!-- To Be Repeated -->
                        <div class="row rowSpacing">

                            <div class="col-8 text">
                                <h4>{{ this.name }}</h4>
                            </div>

                            <div class="col-4">
                                <button data-id = {{ this.id }} type="button" class="eatTheSushi btn btn-danger"><span>Eat Da Sushi</span></span></button>
                            </div>

                        </div>  
                    {{/unless}}
                {{/each}}

            </div>
            

            <div class="col-6 uneaten">

            <!-- To Be Repeated -->

            {{#each sushi}}
                {{#if this.hasBeenEaten }}
                    <!-- To Be Repeated -->
                    <div class="row rowSpacing">   
                        <div class="col-12 text">
                            <h4>{{ this.name }}</h4>
                        </div>
                    </div>
                {{/if}}
            {{/each}}

            </div>
        </div>

        <!-- Text Box and Submit button -->
        <div class="row">

            <div class="col-12">

                <form class="form-width">
                    <div class="form-group">
                        <input type="text" class="form-control" id="newSushi" placeholder="New Type Of Sushi!">
                    </div>

                    <button type="submit" class="btn btn-danger">New Sushi</button>
                    </form>
            </div>

        </div>

        <!-- Project Explination -->
        <div class="row">
            <div class="col desc">
                <p>Input a new type of sushi then eat it!</p>
            </div>
        </div>

    </div>
</div>





<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

<script>
    $(()=>{
         $(".eatTheSushi").on("click", function(){

            const sushId = $(this).data("id");

             $.ajax(`/api/sushi/${sushId}`, {
                type: "PUT"
            }).then(() => {
                location.reload();
             });
        });

    })
   

</script>
