body{
    background-image: url("../img/bgSushi.jpg");
}

.wrapper{
    padding: 50px;
    width: 900px;
    background-color: white;
    text-align: center;
    margin: 30px auto;
    border-radius: 10px;
}

.sushiImg {
    text-align: center;
    width: 200px;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.eatenUneatenRow{
    width: 100%;
    margin: 0 auto;
}

.eaten{
    height: 100%;
    width: 100%;
}

.uneaten{
    height: 100%;
    opacity: 40%;
}


.text{
    padding-top: 7px;
    height: 100%;
    background-color: lightgray;
    border-radius: 5px;

}

.btn{
    height: 100%;
    width: 100%;
    background-color: #ff8c69;
    border: none;
    color: white;
    padding-left: 0;
    padding-right: 0;
}

.btn:hover {
    color: white;
}

.eatTheSushi:hover {
    content: "Nom Nom Nom";
}

.rowSpacing{
    margin-bottom: 10px;
}
.eatTheSushi:hover:hover span {display:none}
.eatTheSushi:hover:before {content:"Nom Nom"}

.form-width{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 50%;
}

.desc{
    text-align: center;
}

@media screen and (max-width: 992px) {

    .uneaten{
        width: 98%;
    }
    .wrapper{
        width: 95%;
        padding-left: 0;
        padding-right: 0;
    }

    .form-width{
        width: 90%;
    }

  }